/* Navbar */

.nav {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--dark);
    transition: width 200ms ease;
    z-index: 1;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10%;
}

.nav-item {
    width: 100%;
}

.nav-text {
    display: none;
    margin-left: 1rem;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: #b6b6b6;
    filter: grayscale(100%) opacity(0.7);
    transition: 500ms;
}

.nav-link img {
    width: 2rem;
    margin: 0 1.5rem;
}

.logo-img img {
    width: 2.5rem;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: #00d698;
    color: #ececec;
}

.nav:hover {
    width: 16rem;
}

.nav:hover .nav-text {
    display: block;
}

.logo {
    font-weight: bold;
    margin-bottom: 0rem;
    text-align: center;
    color: #ececec;
    font-size: 1.2rem;
    letter-spacing: 0.2ch;
    width: 100%;
}

.nav-name {
    display: inline;
    position: absolute;
    left: -999px;
    transition: 600ms;
}