/* Hamburger Navbar */

.nav {
    height: 5rem;
    width: 100vw;
    align-items: center;
    position: fixed;
    background-color: var(--dark);
    transition: all 300ms ease;
    z-index: 2;
    top: 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
}

.logo {
    font-weight: bold;
    margin-bottom: 0rem;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0.2ch;
}

.nav-link img {
    width: 2rem;
    margin: 0 1.5rem;
}

.logo-img img {
    width: 2.5rem;
}

.nav-item {
    display: none;
    width: 100%;
}

.hamCollapse {
    height: 35rem;
}

.hamburger {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    flex-direction: column;
    border-radius: 0.5rem;
    cursor: pointer;
}

.line {
    height: 0.3rem;
    width: 2rem;
    background-color: white;
    border-radius: 1rem;
    margin: 0.2rem;
}

.display{
    display: block;
}

/* For Mobile view */

main {
    margin-left: 0rem;
    margin-top: 5rem;
}

.row {
    height: auto;
    flex-direction: column;
    align-items: center;
}

.row>* {
    width: 100%;
}

.margin {
    margin: 0rem 1rem;
}

.arrow-down {
    position: relative;
    margin-top: 5rem;
}

.section-title {
    scroll-margin-top: 5rem;
}

.text {
    padding-top: 3rem;
    scroll-margin-top: 5rem;
}

.intro-container>* {
    margin: 1rem 0rem;
}

.education,
.experiance {
    margin: 0rem 0rem;
}

.project {
    margin-left: 0rem;
}

.project-margin>* {
    margin: 1rem 1rem 0rem 1rem;
}

.services-list .image {
    width: 20%;
}

.services-detail {
    width: 80%;
}

.footer>* {
    font-size: 0.75rem;
}

iframe {
    position: static;
}

@media only screen and (max-width: 300px) {
    :root {
        font-size: 8px;
    }
}

@media only screen and (min-width: 300px) {
    :root {
        font-size: 14px;
    }

    .upper {
        top: 4rem;
    }
}

@media only screen and (min-width: 400px) {
    :root {
        font-size: 16px;
    }
}

@media only screen and (min-width: 768px) {
    .margin {
        margin: 0rem 8rem;
    }
}

@media only screen and (min-width: 850px) {
    :root {
        font-size: 15px;
    }
}