@import url('https://fonts.googleapis.com/css2?family=Poppins');

:root{
    --color-scheme: #00d698;
    --bg1: #212529;
    --bg2: #373c43;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

html{
    scroll-behavior: smooth;
}

.centre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin{
    margin: 0rem 3rem;
}

.grey{
    color: #909294;
}

.white{
    color: white;
}

.para{
    line-height: 1.8;
    margin-top: 1rem;
}

.dp img {
    width: 10rem;
    height: 10rem;
    border: 0.5rem solid #333941;
    border-radius: 50%;
}

.nav {
    background-color: #111418;
    position: fixed;
    width: 16rem;
    height: 100vh;
}

li{
    list-style: none;
}

.navbar {
    flex-direction: column;
    margin: 2.5rem 0rem;
}

a {
    text-decoration: none;
}

.nav-item a:hover, .color-scheme {
    color: var(--color-scheme);
}

.nav-name {
    margin-top: 0.62rem;
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bolder;
}

.nav-item {
    margin-top: 1.25rem;
}

.facebook:hover, .facebook:focus, .linkedin:hover, .linkedin:focus{
    filter: invert(53%) sepia(79%) saturate(7496%) hue-rotate(198deg) brightness(103%) contrast(101%);
}

.instagram:hover, .instagram:focus{
    filter: invert(44%) sepia(55%) saturate(2401%) hue-rotate(270deg) brightness(86%) contrast(107%);
}

.github:hover, .github:focus{
    filter: invert(76%) sepia(17%) saturate(132%) hue-rotate(171deg) brightness(91%) contrast(86%);
}

.social-nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    list-style: none;
}

.social-nav img {
    width: 1.25rem;
}

.social-nav li {
    margin-right: 1rem;
}

main {
    margin-left: 16rem;
}

.home-container{
    background: url(./Resources./bg-home.jpg) no-repeat;
    background-size: cover;
}

.bg1{
    background-color: var(--bg1);
}

.bg2{
    background-color: var(--bg2);
}

.home {
    height: 100vh;
    flex-direction: column;
}

.about{
    background-color: var(--bg1);
    height: 120vh;
    width: 100%;
}

.what-i-do{
    background-color: var(--bg2);
    height: 120vh;
    width: 100%;
}

.resume{
    background-color: var(--bg1);
    height: 200vh;
    width: 100%;
}

.home button {
    color: var(--color-scheme);
    background-color: transparent;
    font-size: large;
    font-weight: bold;
    border: 0.2rem solid var(--color-scheme);
    border-radius: 1.5rem;
    height: 3.2rem;
    width: 8.75rem;
    transition: all 0.5s ease-out;
}

.home button:hover{
    cursor: pointer;
    color: white;
    background-color: var(--color-scheme);
}

h2{
    font-size: 1.75rem;
}

.name{
    font-size: 4rem;
}

.home > *{
    margin: 1rem;
}

.section-title{
    height: 13rem;
    width: 100%;
    position: relative;
    
}

.text{
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
}

.inner{
    font-size: 8rem;
    font-weight: 600;
    opacity: 0.05;
}

.upper{
    font-size: 2.2rem;
    font-weight: bolder;
    z-index: 1;
    top: 4rem;
}

.underline{
    display: block;
    border-bottom: 0.2rem solid var(--color-scheme);
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
}

.intro-container{
    height: 50vh;
    display: flex;
    justify-content: space-between;
}

.intro{
    width: 66%;
}

.detail{
    width: 30%;
}

.detail-list{
    border-bottom: 0.1rem solid var(--bg2);
    padding: 1rem 0rem;
}

.button{
    background-color: var(--color-scheme);
    font-size: large;
    font-weight: bold;
    border: 0.2rem solid var(--color-scheme);
    border-radius: 1.5rem;
    height: 3.2rem;
    width: 12rem;
    transition: all 0.5s ease-out;
    margin-top: 2rem;
}

.button:hover{
    opacity: 0.5;
}

.accomplishment{
    height: 25vh;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.accomplishment-list{
    width: 25%;
    height: 7rem;
    text-align: center;
}

.accomplishment-list h2{
    font-size: 3rem;
}

.l2, .l3{
    border-left: 0.1rem solid var(--bg2);
    border-right: 0.1rem solid var(--bg2);
}

.services{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.services-list{
    display: flex;
    width: 45%;
    margin-top: 4rem;
}

.services-list .image{
    height: 5rem;
    width: 7rem;
    background: var(--bg1);
    border-radius: 15%;
}

.services-list .image img{
    width: 2.5rem;
}

.services-detail{
    margin-left: 2rem;
}

.resume-container{
    display: flex;
    justify-content: space-between;
}

.tile{
    height: 15rem;
    width: 90%;
    background-color: #111418;
    border-radius: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tile > *{
    margin: 1rem 0rem 0rem 1rem;
}

.yearbg{
    width: 8rem;
    height: 1.5rem;
    background-color: var(--color-scheme);
    border-radius: 0.25rem;
    text-align: center;
}